<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../style/bootswatch.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </head>
  <body>
    <h5>Small banner</h5>
    <div class="jumbotron jumbotron-fluid text-center" style="background-image: url(../images/banner-img.jpg); background-size: 100%;">
      <h1>Find your event</h1><br>
    </div>

    <h5>Large banner</h5>
    <div class="jumbotron jumbotron-fluid text-center" style="background-image: url(../images/banner-img.jpg); background-size: 100%;">
      <h1>Find your event</h1><br>
      <h4>Try the eventbrite experience!</h4>
      <hr>
      <h5 class=" pl-5 pr-5 w-50 mx-auto">Sed laeditur hic coetuum lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.
      </h5>
    </div>
  </body>