<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../style/bootswatch.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h4>Event cards</h4>
      <div class="row pt-5">
        <div class="col-sm-4">
          <div class="card text-white border-primary text-center mb-3" style="max-width: 20rem;">
            <div class="card-header bg-primary">Ibiza</div>
            <img class="card-img-top" src="../images/card-img1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-primary">Nightclub party</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary">More about the event</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-white border-primary text-center mb-3" style="max-width: 20rem;">
            <div class="card-header bg-primary">London</div>
            <img class="card-img-top" src="../images/card-img2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-primary">Jazz Concert</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary">More about the event</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-white border-primary text-center mb-3" style="max-width: 20rem;">
            <div class="card-header bg-primary">New-York</div>
            <img class="card-img-top" src="../images/carg-img3.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-primary">Baskeball game</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary">More about the event</button>
            </div>
          </div>
        </div>
      </div><br>

      <h4>User cards</h4>
      <div class="card border-primary" style="width: 100%;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">         
            <p class="text-primary font-weight-bold">@username</p>
            <p class="pl-5 pr-5">Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
          </li>

          <li class="list-group-item">         
            <p class="text-primary font-weight-bold">@username</p>
            <p class="pl-5 pr-5">Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
          </li>

          <li class="list-group-item">         
            <p class="text-primary font-weight-bold">@username</p>
            <p class="pl-5 pr-5">Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
          </li>
          
        </ul>
      </div><br>

      <h4>City cards</h4>
      <div class="row pt-5">

        <div class="col-sm-6">
          <div class="card border-primary mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../images/venice-2845272_1920.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary">Venezia</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card border-primary mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../images/bicycle-1851497_1920.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary">Paris</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    
  </body>

